<div class="container mt-5">
  <h1 class="mb-4">Controle de Estoque</h1>
  <form (ngSubmit)="addEstoque()">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="cervejaId" class="form-label">Cerveja:</label>
        <select id="cervejaId" class="form-select" [(ngModel)]="estoque.cervejaId" name="cervejaId" required>
          <option *ngFor="let cerveja of cervejas" [value]="cerveja.id">
            {{ cerveja.nome }}
          </option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="quantidade" class="form-label">Quantidade:</label>
        <input type="number" id="quantidade" class="form-control" [(ngModel)]="estoque.quantidade" name="quantidade" required />
      </div>
      <div class="col-md-6 mb-3">
        <label for="dataEntrada" class="form-label">Data de Entrada:</label>
        <input type="date" id="dataEntrada" class="form-control" [(ngModel)]="estoque.dataEntrada" name="dataEntrada" [value]="estoque.dataEntrada | date:'yyyy-MM-dd'" disabled />
      </div>
      <div class="col-md-6 mb-3">
        <label for="dataValidade" class="form-label">Data de Validade:</label>
        <input type="date" id="dataValidade" class="form-control" [(ngModel)]="estoque.dataValidade" name="dataValidade" required />
      </div>
      <div class="col-md-6 mb-3 form-check">
        <input type="checkbox" id="status" class="form-check-input" [(ngModel)]="estoque.status" name="status" />
        <label for="status" class="form-check-label">Status</label>
      </div>
      <div class="col-md-12 mb-3">
        <label for="observacoes" class="form-label">Observações:</label>
        <textarea id="observacoes" class="form-control" [(ngModel)]="estoque.observacoes" name="observacoes"></textarea>
      </div>
      <div class="col-12 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Adicionar Estoque</button>
        <button type="button" class="btn btn-secondary" (click)="updateEstoque()">Atualizar Estoque</button>
      </div>
    </div>
  </form>

  <table class="table table-striped table-responsive mt-4">
    <thead class="table-dark">
      <tr>
        <th>Cerveja</th>
        <th>Quantidade</th>
        <th>Data de Entrada</th>
        <th>Data de Validade</th>
        <th>Status</th>
        <th>Observações</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estoque of estoques">
        <td>{{ getCervejaNome(estoque.cervejaId) }}</td>
        <td>{{ estoque.quantidade }}</td>
        <td>{{ estoque.dataEntrada | date:'dd/MM/yyyy' }}</td>
        <td>{{ estoque.dataValidade | date:'dd/MM/yyyy' }}</td>
        <td>{{ estoque.status ? "Ativo" : "Inativo" }}</td>
        <td>{{ estoque.observacoes }}</td>
        <td>
          <button class="btn btn-warning btn-sm me-2" (click)="editEstoque(estoque)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="deleteEstoque(estoque.id)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
