<div class="container text-center mt-5">
  <h1 class="mb-4">Bem-vindo à MinhaCervejaria</h1>
  <p class="mb-4">
    Explore nossas cervejas, fabricantes, clientes, vendas e muito mais!
  </p>
  <div class="d-grid gap-2 d-md-block">
    <a routerLink="/cervejas" class="btn btn-primary me-2">Ver Cervejas</a>
    <a routerLink="/fabricantes" class="btn btn-primary me-2"
      >Ver Fabricantes</a
    >
    <a routerLink="/clientes" class="btn btn-primary me-2">Ver Clientes</a>
    <a routerLink="/vendas" class="btn btn-primary me-2">Ver Vendas</a>
    <a routerLink="/estoque" class="btn btn-primary me-2">Ver Estoque</a>
    <a routerLink="/busca" class="btn btn-primary me-2">Pesquisar</a>
    <a routerLink="/relatorios" class="btn btn-primary me-2">Relatórios</a>
  </div>
</div>
